<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns= "http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basketball Scores</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.min.js" integrity="sha384-5h4UG+6GOuV9qXh6HqOLwZMY4mnLPraeTrjT5v07o347pj6IkfuoASuGBhfDsp3d" crossorigin="anonymous"></script><link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/toggle.css">
</head>
<body>
 
    
    <!-- CenterSport Logo -->
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/index">
            <img src="/images/trophy.png" alt="" width="30" height="25" class="d-inline-block align-top">
            AllSports
          </a>
        </div>
      </nav>
    
    <div style="margin: 0px 42%;">Scores
    <label class="switch">
      <input type="checkbox" id="switch">
      <span class="slider round"></span>
    </label>News
    </div>
    <div id="page-content" class="container basketball-score-card"></div>
     
    <div class="container basketball-score-card" id="scores">
    <table class="table table-striped table-dark table-hover table-borderless">
        <thead >
        <tr>
           <td colspan="7" style="padding: 2rem 0rem 1rem 0rem"><img src="/images/NBA_Logos-master/new_team.png" width="100" alt=""></td>
        </tr>
        </thead>
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Home Team</th>
            <th scope="col">Score</th>
            <th scope="col">Away Team</th>
            <th scope="col">Score</th>
            <th scope="col">Status</th>
            <th scope="col">Discussion</th>
          </tr>
        </thead>
        <tbody>
            
            <% for(var key of Object.keys(data['data'])){ %>
            <tr>
                <% var teamLogo1 = "/images/NBA_Logos-master/" + data['data'][key]['home_team']["abbreviation"] + ".png";%>
                <% var teamLogo2 = "/images/NBA_Logos-master/" + data['data'][key]['visitor_team']["abbreviation"] + ".png";%>
                <th scope="row"><%= data['data'][key]['date'].toString().slice(0,10)%></th>
                <td><img src=<%=teamLogo1  %> width="30"  alt="home_team">      <%= data['data'][key]['home_team']["full_name"]%></td>
                <td><%= data['data'][key]['home_team_score']%></td>                
                <td><img src=<%=teamLogo2  %> width="30"  alt="home_team">      <%= data['data'][key]['visitor_team']['full_name']%></td>
                <td><%= data['data'][key]['visitor_team_score']%></td>
                <td><%= data['data'][key]['status']%></td>
                <form action="/gameComments" method="POST">
                  <input type="hidden" name="gameID" value="<%= data['data'][key]['id'] %> ">
                  <% console.log(data['data'][key]['id']);%>
                  <input type="hidden" name="gameDetail" value="<%= data['data'][key]['home_team']["full_name"]+'-'+ data['data'][key]['visitor_team']['full_name']+'-'+ data['data'][key]['home_team_score'] +'-' + data['data'][key]['visitor_team_score']; %>">
                <td><a href="#" ><button class="btn-primary" style="border-radius: 10px;">GO</button></a></td>
                </form>  
              </tr>
              <% } %> 
        </tbody>
    </table>
    </div>

    <div id="news"  style="display: none;">      
      <table id="news-table">
        <% for(i=0;i<8;i+=2){  %> 
        <tr>
          <td>
            <div class="articles card bg-dark text-white" >
              <div class="card-header">
                <%= news[i]['title'] %> 
              </div>
              <img class="article-img card-img-top" src="<%= news[i]['urlToImage'] %> " alt="">
              <div class="card-body">  
                <p><%= news[i]['description']  %> </p>
                <p><a href="<%= news[i]['url'] %> ">Read More</a></p>
              </div>
            </div>
          </td>
          <td>
            <div class="articles card bg-dark text-white" >
              <div class="card-header">
                <%= news[i+1]['title'] %> 
              </div>
              <img class="article-img card-img-top" src="<%= news[i+1]['urlToImage'] %> " alt="">
              <div class="card-body">  
                <p><%= news[i+1]['description']  %> </p>
                <p><a href="<%= news[i+1]['url'] %> ">Read More</a></p>
              </div>
            </div>
          </td>
        </tr>
        <% }  %> 
      </table>      
    </div>

  </body>
  <script defer>
    scores = document.getElementById('scores');
    news = document.getElementById('news')
    document.getElementById('switch').addEventListener("click", function(){
      if(document.getElementById('switch').checked == false){
        scores.style.display = "block";
        news.style.display = "none";
      }
      else{
        scores.style.display = "none";
        news.style.display = "block";
      }
    })
  </script>
</html>
